.search__grid__title {
  display: grid;
  // grid-template-areas: 'text1' 'text2';
  // grid-template-rows: max-content;
  grid-template-columns: repeat(2, max-content);
  margin-top: 6rem;
  font-size: 1.8rem;
  padding-left: 25px;

  &__text {
    // grid-area: text1;
    padding-right: 8px;
    color: #9aa9bb;
  }

  &__query {
    // grid-area: text2;
    color: #fff;
  }
}
