@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  // font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #020e18;
  color: #fff;
  overflow-y: visible;
}

ul,
li {
  list-style: none;
}
